*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* contains the restaurant name and nav */
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    margin: 2vh auto 0;
    width: 95vw;
}

/* ham and nav to the right */
#ham_icon, #navv{
    align-self: flex-end;
    margin-right: 5px;
}

#ham_icon{
    border: solid black 1px;
    text-align: center;
    width: 20px;
    margin-bottom: 5px;
    border-radius: 5%;
}

/* restaurant name */
h1{
    margin-top: 2%;
}

#navv{
    /* position: absolute; */
    list-style:none;
    display: none;
}

.nav_decor{
    border: solid black 1px;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
}

a{
    text-decoration: none;
}

#body_container{
    border:solid black 1px;
    margin: 2vh auto 0;
    width: 93vw;
    height: 80vh;
}

main{
    border:solid black 1px;
    margin: 2vh auto 0;
    width: 95%;
}
 
/* catchy quote? */
h2{
    text-align: center;

}



/* container for featured items */
#featured_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border:solid black 1px;
    height:325px;
    margin: 5% auto 0;
    padding: 10px 0 10px 0;
    width: 90%
}

/* featured items to be viewed "next"/"previous"... deserts */
.featured_items{
    display:none;
    margin: 5% auto 0;
}

.active{
    display:block;
}

.featured_pic{
    width: 85%;
    height: 85%;
    margin-left: 25px;
}

/* because the first featured pic is smaller than the rest */
#orange_cake{
    height: 93%;
}

.featured_food_name_container{
    text-align: center;
    border: solid black 1px;
    width: 55%;
    margin: 0 auto;
}

/* circles underneath the featured items that allow you to change item */
#switchers{
    margin-top: 10px;;
    width:50%;
    display: flex;
    justify-content: space-between;
}

/* circles */
#left, #right, #middle{
    border:solid black 1px;
    width:20px;
    height:20px;
    border-radius: 50%;
    cursor: pointer;
}



#none{
    display:none;
}
