*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 1.2rem;
}

.item_name, .featured_item_name{
    font-size: .875rem;
}

/* welcome screen that appears only at the beginning of mobile view */
#welcome_page{
    width: 95vw;
    height: 95vh;
    position: absolute;
    z-index: 3;
    top: 3%;
    left: 2.5%;
    background-color: rgba(146, 33, 33, .75); 
    /* background-image: url(C:/Users/Marsea/Desktop/Ignis%27s%20New%20Recipe/Color_References/Ignis.cool.3.png);
    background-repeat: no-repeat;  */
}

#ignis{
    margin-top: 15%;
    width: 80%;
    height: 90%;

}




#welcome_message_container{
    border: solid white 1px;
    background-color: white;
    border-radius: 50%;
    position: absolute; 
    top: 1%;
    right: 1%;
    width: 45%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

#enter_button{
    width:45%;
    height: 20%;
    margin-top: 5px;
}

#welcome_message{
    text-align: center;
    font-size: 1.1rem;
}

 /* clouds  */
.circle{
    position: absolute;
    border: solid white 5px;
    background-color: white;
    border-radius: 50%;
}

 /* small cloud and so on  */
.small{
    top: 26%;
    right: 65%;
}

.medium{

    top:21%;
    right: 56%;
    width: 6%;
    height: 4%;
}

.big{

    top: 16%;
    right: 47%;
    width: 8%;
    height: 6%;

} 






/* contains the restaurant name and nav */
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    background-color: rgb(121, 187, 209);
    margin: 0 auto;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: url(C:/Users/Marsea/Desktop/Ignis%27s%20New%20Recipe/Color_References/Altissia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

/* restaurant name */
h1{
    margin-top: 2%;
}

/* ham and nav to the left */
#ham_icon, #navv{
    align-self: flex-start;
    margin-left: 5px;
}

#ham_icon{
    text-align: center;
    width: 35px;
    margin-bottom: 5px;
    border-radius: 5%;
    font-size: 20px;
    color: rgb(106, 73, 15);
    font-weight: bold;
}

#navv{
    position: absolute;
    top: 100%;
    list-style:none;
    display: none;
    border: solid black 1px;
    width: 50%;
    padding: 5px;
    background-color: rgb(167, 212, 227);
    background-image: url(C:/Users/Marsea/Desktop/Ignis%27s%20New%20Recipe/Color_References/Ignis.cheers.1.png);
    background-repeat: no-repeat;
    background-position-y: 52%;
    background-position-x: 55%;
}

/* this only appears for the 
desktop view
made seperately because couldn't
figure out how to apply javascript to only the
mobile view... so it was copied and remade,
mobile view closing the nav, we want the nav to 
remain in desktop view */
#navv_desk{
    display:none;
}

.nav_decor{
    border-bottom: solid white 2px;
    margin: 10px auto 0;
    text-align: center;
}

 /* nav buttons .."fake" links */
button{
    border: none;
    background: rgba(181, 150, 96, .60) ;
    width: 95%;
    height: 40px;
}

/* giant home container, containing everything */
#home_container{
    border:solid black 1px;
    margin: 2% auto 0;
    width: 95vw;
    height: 82vh;
    background-color: rgb(139, 117, 79);
}

/* container for catchy quote */
main{
    border:solid black 1px;
    margin: 2% auto 0;
    width: 95%;
    background-color: rgb(240, 214, 184);
}
 
/* catchy quote? */
h2, #featured_soon{
    text-align: center;
}


/* container for featured items */
#featured_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border:solid black 1px;
    height:77%;
    width: 90%;
    margin: 5% auto;
    padding: 10px 0 10px 0;
    
    background-color: rgb(223, 205, 184); 
}

/* featured items (pics & descriptions) to be viewed "next"/"previous"... deserts */
.featured_items{
    display:none;
    margin: 5% auto 0;
}

/* "on" featured pic when visiting */
.active{
    display:block;
}

.featured_pic{
    width: 85%;
    height: 85%;
    margin-left: 7.5%;
    border: solid rgb(143, 130, 116) 5px;
}

/* because the first featured pic 
is smaller than the rest..increasing it */
#orange_cake{
    height: 93%;
}

.featured_food_name_container{
    text-align: center;
    border: solid black 1px;
    width: 55%;
    margin: 0 auto;
    background-color: rgb(215, 210, 204);  
    display: block;
}

/* circles underneath the featured items 
that allow you to change item */
#switchers{
    width:50%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

/* circles or switches */
#left, #right, #middle{
    border:solid black 1px;
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: rgb(178, 194, 199);
}

#menu_holder{
    display: flex;
    flex-direction: column;
    align-items: center;
     
}



/* container for the food, entire menu */
#menu_container{
    border:solid black 1px;
    margin: 2% auto 0;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(139, 117, 79);
}

#menu_text{
    text-align: center;
}

/* sections for type of food, followed by its 4 items */
section{
    border: solid blueviolet 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 75vh;
    margin-bottom: 2%;
    padding-bottom: 2%;
    background-color: rgb(223, 205, 184);
}

/* container for ALL menu items only to seperate it from <h4>food type</h4> */
.menu_items_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 98%;
}

/* individual menu items */
.menu_items{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_pic{
    width: 95%;
    height: 65%;
    margin-bottom: 15%;
    border: solid rgb(143, 130, 116) 5px;
}

/* for some of the pictures that are
not aligned because the text is too much? */
/* low pic compared to normal margin */
/* Spicy Long-Bone Rib Steak,  */
.pic_margin{
    margin-bottom: 4%;
}

/* names under the pics... featured items have
a different class */
.item_name{
    text-align: center;
    background-color: rgb(178, 194, 199);
    border: solid black 1px;;
    width: 95%; 
}

/* details that appear when "hovering" over food pics
hovering will not be required in desktop */
.mobile_menu_details{  
    margin-bottom: 13%;
    padding: 1%, 1%, 1%, 1% ;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 20%;
    background-color: none;
    font-size: 0;
    transition-property:font-size, background-color;
    transition-duration: 1s;
}

/* some of the mobile menu details are floating
under the pics so bring up the margin for those
few */
/* Grease Monkey's Schnitzel Sandwich, Stacked Ham Sandwich,
Fisherman's Favorite Paella, Sweet Saltwater Crustacean Curry,
Moogle Mousse with Kupoberry Sauce, Cup Noodles (Glimmering Egg) */
.big_margin{
    margin-bottom: 18%;
}

.mobile_menu_details:hover{
    background-color: rgba(178, 194, 199, .85);
    font-size: 85%;
}

/* the individual divs inside the mobile menu
details  */
.cost{
    margin-top: 5%;
}

/* the container for the entire form */
#form_container{
    width: 95vw;
    height: 82vh;
    margin: 2% auto 0;
    border: solid black 1px;
    background-color: rgb(139, 117, 79);  
}

#contact_us{
    border:solid black 1px;
    margin: 2% auto 0;
    width: 50%;
    background-color: rgb(240, 214, 184);   
}

/* holds the fieldset */
form{
    margin: 5% auto 0 ;
    width: 95%;
    /* height: 82%; */
    text-align: center;
    /* background-color: rgb(240, 214, 184); */
    display: flex;
    justify-content: center;
}

/* holds inside the items asking for info */
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
    /* padding-top: 10px; */
    padding: 5px 0;
    border: solid black 1px;
    height: 95%;
    width: 90%;
    background-color: rgb(240, 214, 184);
}

/* three pairs, containing the label and its input
just above the comment section */
#form_name, #form_email, #form_subject{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

input{
    width: 70%;
}

#form_subject{
    margin-bottom: 2%;
}

#comment{
    width: 85%;
}

#sub_button{
    margin-top: 2%;
    width: 35%;
}

/* when you refresh or first enter the page, the form and menu 
are missing... had to "display: none" because they are imaginary
links  */
#menu_holder, figcaption, #form_container{

    display: none;

}


/* "low_px" means 336px-356px
"medium_px" means 357px-371px
372px-385px is "normal" (when making this)
"big_px" means 386px-444px */

@media screen and (min-width: 336px) and (max-width: 356px){

    .featured_food_name_container{
        width: 69%
    }

    /* Fishsticks on Sticks, Smoked Behemoth, Thick 'n' Juicy Steak
    (new margin situation compared to normal) */
    .low_px_more_pic_margin{
        margin-bottom: 27%;
    }

    /* Spicy Long-Bone Rib Steak
    ("normal" had margin situation so it was asjusted,
    for this one, it has to be adjusted back to the "normal" margin
    like the rest of them to be normal here ) */
    .pic_margin{
        margin-bottom: 15%;
    }

    /* Multi-Meat Sandwich
    (new margin situation compared to normal) */
    .low_px_less_pic_margin{
        margin-bottom: 2%;
    }

    /* all meats, Fishsticks on Sticks, 
    Ace Hunter's Schnitzel */
    .low_px_more_detail_margin{
        margin-bottom: 19%;
    }
}

@media screen and (min-width: 357px) and (max-width: 371px){
    /* #welcome_message{
        font-size: 1rem;
    } */

    /* Pit Crew's Meat Wraps, Ace Hunter's Schnitzel*/
    .medium_px_less_pic_margin{
        margin-bottom: 3%;
    }  
}

@media screen and (min-width: 386px) and (max-width: 444px){

    /* Stacked Ham Sandwich */
    .big_px_more_pic_margin{
        margin-bottom: 26%;
    }

    /* reused this class that was 
    originally used in the "normal"
    css code (372px-385px), containing 
    the same exact items that need to be adjusted */
    .big_margin{
        margin-bottom: 16%;
    }

}

@media screen and (min-width: 445px){

    html{
        background-image: url(C:/Users/Marsea/Desktop/Ignis%27s%20New%20Recipe/Color_References/Altissia.jpg);
        background-size: cover;
        background-position-y: 25%;
    }

    header{
        position: static;
        background-image: none;  
        width: 95vw;
        margin-top: 1%;
        position: static;
    }

    h1{
        margin-top: 1%;
    }

    /* got rid of the hamburger icon and 
    broke apart the nav 
    new nav so that when it is clicked on
    it remains (javascript gets rid of original nav)*/
    #navv_desk{
        display:block;
        position: static;
        background-image: none;
        background: none;
        border: none;
        width: 100%;
        margin-top: 1%;
        display: flex;
        align-self: flex-end;
        justify-content: space-between;  
        list-style:none;
        /* border: solid green 2px; */
    }
    
    /* holds the desk_nav_decor */
    .nav_decor{
        /* border: solid yellow 5px; */
        margin: 0;
        width: 25%;
        border: none;
        display: flex;
        justify-content: flex-end;
    }

    .desk_nav_decor{
        /* border: solid blue 1px; */
        background: none;
        width: 100%;
        font-size: 1.1rem;
        cursor: pointer;
        text-align: center;
    }

    .desk_nav_decor:hover{
        background-color: green;
    }

    /* home "link" in nav to move it far left
    away from everything else */
    .home_decor{
        margin-right: 25%;
    }

    #home_container{
        width: 45%;
        height: 82%;
        float: right;
        margin: 1% 5% 0 0;
    }

    #switchers{
        cursor: pointer;
    }

    #form_container{
        width: 45%;
        height: 82%;
        float: right;
        margin: 1% 5% 0 0;
    }

    fieldset{
        height:77%;
        width: 94.5%;
        margin: 5% auto 2% ;
        padding-bottom: 15px;
    }

    form{
        margin: 0 auto;
        padding-bottom: 20px;
    }

    /* 100vh here because everything else that uses a 
    % when it comes to width and height needs a 
    reference ... it could be 1vh if we wanted to*/
    #menu_holder{
        display: flex;
        height: 100vh;
        /* transform: rotateY(.5turn); */
        transition-duration: 2s;
        
    }

    .menu_flip{

        transform: rotateY(1turn);

    }

    #menu_container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    
    }

    section{
        margin-top: 2%;
        width: 45%;
        height: 45%;
        position: relative;
        z-index: 1;
        bottom: 100%;
    }

    #cover{
        z-index: 2;
        position: relative;
        width: 95%;
        height: 100%;
        display: inline-flex;
        justify-content: space-between;
    }

    #menu_cover_right, #menu_cover_left {  
        border: solid black 1px;
        width: 49.5%;
        background-color: brown;
        transition-duration: 4s;
        display: inline-flex; 
    }

    #menu_cover_right{
        justify-content: flex-start;
        box-shadow: inset 280px 10px 260px 0px lightskyblue;
    }

    .mc_right_transition{
        transform-origin:  right;
        transform: scaleX(15%) translateX(-10%) rotateY(.30turn) ;    
    }

    #menu_cover_left{
        justify-content: flex-end;
        box-shadow: inset -280px -10px 260px 0px lightskyblue;
    }

    .mc_left_transition{
        transform-origin:  left;
        transform: scaleX(15%) translateX(10%) rotateY(.30turn);
    }


    .wrinkles{
        width: .5%;
        height: 100%;
        border: solid black 1px;
        display: inline-block;

    }



    
    h4{

        margin: 1% 0 2% 0;
    }

    .desktop_menu_details{

        display: flex;
        flex-direction: column;
        width:100%;
        

    }

    figcaption{
        text-align: center;
        background-color: rgb(178, 194, 199);
        border: solid black 1px;
        margin: 2% 0;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 85%;
        /* display:none; */
    }

    .item_name2, .ingredients, .cost{

        margin-top: 1%;
    }

    .item_name2, .cost{
        font-weight:bold ;
    }

    .ingredients, .cost{
        font-style: italic;
    }

    .menu_pic{
        margin-bottom: 0;
    }

    .item_name, #ham_icon, #navv, #welcome_page, .mobile_menu_details, #home_container{
        display: none;
    }

}























